{% extends 'list/layout.html' %}
{% load crispy_forms_tags %}
{% block body %}
<h1>Sort by Date</h1>
{% if msg %}
    <h3>{{ msg }}</h3>
{% endif %}
<form action="{% url 'date' %}" method="post">
    {% csrf_token %}
    {{ sort_form|crispy }}
    <input type="submit" class="btn btn-primary">
</form>
{% if content %}
    <ul>
    {% for entry in content %}
        <li>
            <a href="{% url 'entry' entry.id %}">{{ entry }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <div class="alert alert-primary" role="alert" style="margin-top: 10px;">No Tasks Exist</div>
{% endif %}

<a href="{% url 'remove' msg %}" class="btn btn-warning">Mark tasks as complete</a>

{% endblock %}