{% extends 'list/layout.html' %}
{% block body %}
    {% if entry_add %}
        <h1>Add Entry</h1>
    {% else %}
        <h1>Edit Entry</h1>
        <h3>Editable Features: {{ editable|default:"all" }}</h3>
    {% endif %}

    {% if aux_message %}
        <h3>{{ aux_message }}</h3>
    {% endif %}

    {% if entry_add %}
        <form action="{% url 'add' %}?callback={{ callback|urlencode }}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit">
        </form>
    {% else %}
        <form action="{% url 'edit' id %}" method="post">
            {% csrf_token %}
            <p>start</p>
            {{ form }}
            <p>end</p>
            <input type="submit">
        </form>
    {% endif %}
        <!-- {% csrf_token %}
        {{ form }}
        <button type="submit">{% if entry_add %}Add Entry{% else %}Edit Entry{% endif %}</button>
    </form> -->
{% endblock %}
