{% extends 'list/layout.html' %}
{% block body %}
<h1>All Content</h1>

<ul>
    {% for entry in content %}
        <li>
            <a href="{% url 'entry' entry.id %}">{{ entry }}</a>
        </li>
        {% empty %} <!--to indicate an empty list-->
            <li>Please add tasks to To Do List</li>
    {% endfor %}
    {% if priority %}
        <a href="{% url 'add' %}?callback={{ callback|urlencode }}?priority={{ priority|urlencode }}">Add a new entry</a>
    {% else %}
        <a href="{% url 'add' %}?callback={{ callback|urlencode }}">Add a new entry</a>
    {% endif %}
    <div>Remove entries from to-do list</div> <!--enable support for this-->
</ul>
{% endblock %}
