{% extends 'list/layout.html' %}
{% block body %}
<h1>{{ title }}</h1>

<ul>
    {% for entry in content %}
        <li>
            <a href="{% url 'entry' entry.id %}">{{ entry }}</a>
        </li>
        {% empty %} <!--to indicate an empty list-->
            <li>Please add tasks to To Do List</li>
    {% endfor %}
    {% if priority %}
        <a href="{% url 'add' %}?callback={{ callback|urlencode }}?priority={{ priority|urlencode }}">Add a new entry</a>
        <a href="{% url 'remove' priority %}">Mark entries as complete</a>
    {% else %}
        {% if callback %}
            <a href="{% url 'add' %}?callback={{ callback|urlencode }}">Add a new entry</a>
            <a href="{% url 'remove' callback  %}">Mark entries as complete</a>
        {% endif %}
    {% endif %}
</ul>
{% if title == 'Completed Tasks' %}
    <a href="{% url 'discard' %}">Discard Completed Entries</a>
{% endif %}
{% endblock %}
